.collapse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.collapse {
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #fff;
    width: 1200px;
    margin-top: 15px;

}

    .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: $color-1;
        color: white;
        font-weight: bold;
    }

        .collapse-title {
            margin: 0;
        }

        .collapse-arrow {
            display: flex;
            width: 13px;
            height: 13px;
            border-left: 3px solid white;
            border-bottom: 3px solid white;
            transform: rotate(-45deg); // Flèche vers le bas par défaut
            transition: transform 0.3s ease;
            margin-bottom: 5px;
            cursor: pointer;

            &.open {
                transform: rotate(135deg); // Flèche vers le haut si ouverte
            }
        }


    .collapse-content {
      display: block;
        padding: 15px 20px;
        background-color: #f9f9f9; // Couleur pour le contenu
        color: #333;
        font-size: 14px;
        line-height: 1.5;
    }

  // Media queries
  @media (max-width: 1240px) {
    .collapse {
      width: 90%;
    }
  }
  
  @media (max-width: 768px) {

    .collapse-container {
      margin-top: 0;
    }
    .collapse {
      margin-bottom: 20px;

    
      &-description,
      &-equipements {
        padding: 10px 15px;
    
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: flex-start;
    
          li {
            margin-right: 15px;
            margin-bottom: 10px;
            padding: 5px 10px;
          }
        }
      }
    }
    

  }