.footer {
  width: 100%; /* Le footer prend toute la largeur */
  background-color: black; /* Couleur de fond */
  color: white; /* Couleur du texte */
  text-align: center; /* Centrer le texte */
  padding: 20px 0; /* Espacement vertical */
  margin-top: 50px;

  .footer-logo {
    width: 100px;
    margin-bottom: 10px;
  }

  .footer-text {
    font-size: 14px;
  }
}

// Media queries
@media (max-width: 1240px) {
  .footer-text {
    font-size: 12px;
  }

  .footer-logo {
    width: 80px;
  }
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 10px;
  }

  .footer-logo {
    width: 60px;
  }
}
